
.container{
    display: flex;
}
.listUsers{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.listUsers_item {
    cursor: pointer;
    flex: 0 1 200px ;
    margin: 30px 0 0 0;
}
#searchBut{
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    border: transparent;
    background: transparent;
}
#searchBut:hover{
    color: grey;
}
.View{
    height: 800px;
    margin: 0 auto;
    flex: 0 0 60%;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
.View::-webkit-scrollbar {
    width: 0;
}
.user-prev-photo{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    display: block;
    border: 1px solid black;
}
.user-prev-name{
    margin: 0;
    text-align: center;
}
.user-list{
    border-top: 1px solid black;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

}
.user-list-link{
    margin: 0 20px 0 0;
}
#searchUsers{
    height: 20px;
    width: 300px;
}
#message{
    font-size: 24px;
    margin: 10px;
}
.error{
    color: red;
}
.menu{
    text-align: center;
}
.uploadUser{
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    border: transparent;
    background: transparent;
}
.uploadUser:hover{
    color: grey;
}
.uploadUserHide{
    visibility: hidden;
}
.uploadUserVis{
    visibility: visible;
}
.uploadBut{
    margin-top: 30px;
    text-align: center;
}
.image-user{
    max-height: 300px;
    max-width: 300px;
}
.user-block-title{
    margin: 10px 0 0 0;
}
.user-card{
    text-align: center;
}
.containerCard{
    margin-right: 100px;
}
.listUsers_item_Click{
    background: #dbd8d8;
    border-radius: 5px;
}
.loadText{
    width: 400px;
    text-align: center;
    font-size: 24px;
    margin: 200px;
}
.loadTextMini{
    height: 100px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}
.user-block-title{
    display: inline-block;
}
.refresh-data{
    color: black;
    background: transparent;
    border-color: transparent;
    text-decoration: underline;
}
.refresh-data:hover{
    color: grey;
    cursor: pointer;
}
